Assets/BGM filter=lfs diff=lfs merge=lfs -text
Assets/Fonts filter=lfs diff=lfs merge=lfs -text
Assets/resources.txt filter=lfs diff=lfs merge=lfs -text
Assets/SFX filter=lfs diff=lfs merge=lfs -text
Assets/Sprites filter=lfs diff=lfs merge=lfs -text
